@import '../common';

e {
  position: absolute;
  top: 16px;
  left: 16px;
  height: 36px;
  width: 36px;

  &[sink] {
    box-sizing: border-box;
    background-clip: content-box;
    animation: 1s sink ease-out;
    transform: translateY(70px);
    padding-bottom: 70px;

    &::after {
      display: none;
    }
  }

  &::after {
    content: attr(level);
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    font-size: 10px;
  }

  &[gid="#{$gid-ally}"],
  &[gid="#{$gid-enemy}"],
  &[gid="#{$gid-player}"] {
    background-image: url($img-ship);
  }

  &[gid="#{$gid-enemy}"] {
    background-color: $color-danger;
  }

  &[gid="#{$gid-ally}"] {
    background-color: $color-ok;
  }

  &[gid="#{$gid-player}"] {
    background-color: $color-player;
  }

  &[gid="#{$gid-ally-port}"],
  &[gid="#{$gid-enemy-port}"] {
    background-color: $color-player;
    background-image: url($img-port);
  }

  &[gid="#{$gid-bomb}"] {
    background: $color-bomb;

    &::after {
      content: attr(timeout);
      display: block;
      text-align: center;
      font-size: 26px;
    }
  }
}

@keyframes sink {
  0% {
    padding-bottom: 0;
    transform: translateY(0);
  }
  100% {
    padding-bottom: 70px;
    transform: translateY(70px);
  }
}

bar {
  position: absolute;
  left: 0;
  height: 2px;

  &.hp {
    bottom: 0;
    background: $color-hp;
  }
  &.armor {
    bottom: -2px;
    background: $color-armor;
  }
}
