menu {
  padding: 0;

  button {
    margin: 10px 0;
    width: 100%;
  }
}

/*
60251 game.js
24623 game.min.js
10400 game.zip
  180 index.html
 1232 retro-subset.woff2
 2696 styles.css
 2128 styles.min.css
*/
