$color-black: #333;
$color-white: #fff;
$color-red: #bb3c45;
$color-blue: #00c0ff;
$color-brown: #a57902;
$color-green: #94e3ac;
$color-orange: #9c7516;

$color-border: $color-black;
$color-ok: $color-green;
$color-warning: $color-orange;
$color-danger: $color-red;

$color-water: $color-blue;
$color-land: $color-brown;
$color-player: $color-black;
$color-bomb: $color-danger;
$color-hp: $color-red;
$color-armor: $color-white;

$img-ship: 'img/ship.png';
$img-port: 'img/port.png';

@mixin font {
  font-family: pixel-font, sans-serif;
  text-transform: uppercase;
}
