$color-black: #333;
$color-white: #fff;

$color-border: $color-black;
$color-ok: #94e3ac;
$color-warning: #9c7516;
$color-danger: #bb3c45;

$color-water: #00c0ff;
$color-land: #a57902;
$color-port: $color-black;

$img-ship: 'img/ship.png';

@mixin font {
  font-family: pixel-font, sans-serif;
  text-transform: uppercase;
}
