.world {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 65vw;
  width: 100vh;
  max-height: 65vw;

  > * {
    display: inline-block;
    padding-top: 5%;
    width: 5%;
  }
}

l {
  background: @color-land;
}

w {
  background: @color-water;

  &.sink::after {
    animation: 1s sink ease-out;
    transform: translateY(70px) rotateZ(-45deg);
  }
}

l,
w {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none no-repeat 50% 50%;
    background-size: contain;
  }
}

&.entity-3::after {
  content: '';
  background-image: url(@img-ship-enemy);
}

&.entity-4::after {
  content: '';
  background-image: url(@img-ship-ally);
}

&.entity-5::after {
  content: '';
  background-image: url(@img-ship-player);
}

&.entity-6::after {
  content: '';
  background: @color-port;
}

@keyframes sink {
  0% {
    transform: translateY(0) rotateZ(0);
  }
  100% {
    transform: translateY(70px) rotateZ(-45deg);
  }
}
