@import '../common';
@import '../button';

@font-face {
  font-family: 'pixel-font';
  src: url('retro-subset.woff2') format('woff2');
  -webkit-font-smoothing: none;
  font-smooth: never;
}

body {
  margin: 0;
  color: $color-white;
  background: $color-black;
}

#app {
  @include font;
}

h1 {
  position: fixed;
  width: 100%;
  bottom: 5%;
  text-align: center;
  color: white;
}

menu {
  position: fixed;
  width: 100%;
  bottom: 15%;
  text-align: center;
}

bar.dmg {
  position: fixed;
  height: 5px;
  background: $color-ok;
  border-right: 100vw solid;
  z-index: 5;
}

game-over {
  @include result;
  color: $color-danger;
}

victory {
  @include result;
  color: $color-ok;
}

grats {
  position: fixed;
  width: 100%;
  bottom: 16%;
  text-align: center;
}

[game-over] {
  opacity: .2;
}
