@import '../common';

intro {
  position: absolute;
  height: 100%;
  width: 100%;
}

flag {
  display: block;
  margin: auto;
  height: 300px;
  width: 50%;
  transform-origin: center 20%;

  span {
    @include pixelated;

    animation: wave 2s ease-in-out infinite alternate;
    background: $color-black no-repeat url($img-skull) 50%;
    background-size: 200px 60%;
    height: 100%;
    display: inline-block;
  }
}

@keyframes wave {
  100% {
    transform: translateY(10%);
  }
}

