@import '../common';

world {
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: #{$tile-width * $world-width};
  background: $color-water;
}


l,
w {
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: $tile-height;
  width: $tile-width;
  background: url($img-land) no-repeat;
}

l {
  background: $color-land;
}

w {
  &[gid="0"] {
    background: none;
  }
  &[gid="2"] {
    background-position: 0 0;
  }
  &[gid="3"] {
    background-position: -64px 0;
  }
  &[gid="4"] {
    background-position: -128px 0;
  }
  &[gid="5"] {
    background-position: -192px 0;
  }
  &[gid="6"] {
    background-position: -256px 0;
  }
  &[gid="7"] {
    background-position: 0 -64px;
  }
  &[gid="8"] {
    background-position: -64px -64px;
  }
  &[gid="9"] {
    background-position: -128px -64px;
  }
  &[gid="11"] {
    background-position: -256px -64px;
  }
  &[gid="14"] {
    background-position: -128px -128px;
  }
  &[gid="15"] {
    background-position: -192px -128px;
  }
  &[gid="16"] {
    background-position: -256px -128px;
  }
}
