@import '../common';

world {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 65vw;
  width: 100vh;
  max-height: 65vw;

  > * {
    display: inline-block;
    padding-top: 5%;
    width: 5%;
  }
}

l {
  background: $color-land;
}

w {
  background: $color-water;

  &.sink::after {
    animation: 1s sink ease-out;
    transform: translateY(70px) rotateZ(-45deg);
  }
}

l,
w {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none no-repeat 50% 50%;
    background-size: contain;
  }
}

.e-3::after,
.e-4::after,
.e-5::after {
  content: '';
  background-image: url($img-ship);
}

.e-3::after {
  background-color: $color-danger;
}

.e-4::after {
  background-color: $color-ok;
}

.e-5::after {
  background-color: $color-black;
}

.e-6::after {
  content: '';
  background: $color-port;
}

.e-10{
  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1;
    z-index: 5;
  }
  &.t-1::before {
    content: '2';
  }
  &.t-0::before {
    content: '1';
  }
  &::after {
    content: '';
    background: $color-bomb;
  }
}


@keyframes sink {
  0% {
    transform: translateY(0) rotateZ(0);
  }
  100% {
    transform: translateY(70px) rotateZ(-45deg);
  }
}
